@model List<NavigationItem>

<div>
	<ul class="o-list-inline@lg">

		@foreach (var item in Model)
		{
			<li class="o-list-inline__item">
				@*if (item.IsSelected || item.IsExpanded && item.IsStartPage == false)
				{
				<a class="c-main-navigation__link" href="@item.Url">@SelectedItem(item)</a>
				}
				else
				{
				<a class="c-main-navigation__link" href="@item.Url">@Item(item)</a>
				}*@
				<a class="c-main-navigation__link" href="@item.Url">@item.Text</a>
			</li>
			}
	</ul>

</div>

@helper Item(NavigationItem item)
{
	<a href="@item.Url">@item.Text</a>
}

@helper SelectedItem(NavigationItem item)
{
	<a href="@item.Url"><strong>@item.Text</strong></a>
}
